{% extends 'base.html.twig' %}

{% block body %}
    <div class="coverImgRef">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1>Nos Clients</h1>
            <h6>Découvrez comment l’agence a développé la construction de site web pour la
                communication de ces marques et leur identité visuelle.</h6>
        </div>
    </div>
    <div class="text-center">
        <h2>Musée du Louvre - Billeterie en ligne </h2>
        <div class="offset-lg-2 col-lg-8"><img src="{{ asset('img/references/Louvre1.png') }} " class="img-fluid"> </div>
        <p></p>
    </div>


{% endblock %}

