{% extends 'base.html.twig' %}


{% block body %}
<div class="coverImgRef">
    <div class=" coverText offset-lg-2 col-lg-8">
        <h1>Nos Clients</h1>
        <h6>Découvrez comment l’agence a développé la construction de site web pour la
            communication de ces marques et leur identité visuelle.</h6>
    </div>
</div>
    <div class="border offset-lg-1 col-lg-10 mt-5 mb-5">
    <div class="text-center reference-article ">
        <h2 class="mt-5 mb-3 ">Association Agence WebYoga</h2>
        <div class="offset-lg-2 col-lg-8"><img src="{{ asset('img/references/wyoga1.png') }} " class="img-fluid"> </div>
    </div>
    <div class="row reference-article">
        <div class="offset-lg-2 col-lg-8 mt-5 mb-5">
            <p>Il nous a été demandé un site pour fédérer autour de lui une communauté de pratiquants du Yoga et de sa
                science pour l’association WebYoga. </p>
            <p>La construction d’un site vitrine avec le CMS Wordpress a été proposée et adoptée par l’association.</p>
            <p>Il a été développé ainsi  une charte graphique et un logo aux couleurs de l’association. Pour ce site,
                il a été également intégré la fonctionnalité de mettre des articles et de les partager sur les réseaux
                sociaux et des vidéos en ligne d’après une mise en page personnalisée et aussi développer
                la fonctionnalité formulaire de contact et rédaction de commentaires. </p>
            <p>Il a été ainsi demandé de pouvoir gérer les permissions des comptes utilisateurs afin de créer aussi des
                rédacteurs pour l’avenir.</p>
            <span class="badge badge-ds">#Charte Graphique</span>
            <span class="badge badge-ds">#Wordpress</span>
            <span class="badge badge-ds">#Logo</span>
            <span class="badge badge-ds">#Palette de couleurs</span>
        </div>
    </div>
    </div>

{% endblock %}