{% extends 'base.html.twig' %}

{% block body %}
    <div class="coverImgBlog">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1 class="page-title">Notre Blog</h1>
        </div>
    </div>
    <div class="container mt-5 article-blog">
        <h2 class="text-center">L’importance d’un Bon Design d’Email</h2>
        <h6 class="offset-lg-7 offset-7">par Alec, le 20/05/2019</h6>
    </div>
<div class="container text-article">
    <div class="row mt-2">
        <div class="offset-lg-1 col-lg-10">
            <p>Les commerciaux dépensent beaucoup de temps et pas mal d’argent pour s’assurer que leurs sites web et pages
                d’atterrissage sont pensés pour créer la meilleure expérience utilisateur qu’il soit. Cependant, il est rare qu’ils
                en fassent autant dans le design d’email, et ce malgré des recherches montrant que l’email marketing peut générer
                38 dollars pour chaque dollar dépensé (selon le rapport de 2015 de DMA National Client Email Report).
            </p>
            <p>
                Rédiger un bon contenu d’email est certes important, mais cela ne va pas sans un bon design d’email.
                Le contenu transmet les informations nécessaires tandis que le design est l’élément qui permet au lecteur
                de s’y frayer un chemin comme l’auteur le souhaite. En plus de ça, un design réussi attire l’œil des lecteurs
                et les incite à continuer de lire après avoir ouvert l’email.
            </p>
            <div class="text-center mt-4 mb-4"><img src="{{ asset('img/blog/article4img2.png') }}" class="img-fluid img-shadow" alt="emailing"></div>
            <h4 class="mb-2">Pourquoi le Design Importe ?</h4>
            <p>
                Si vous voulez arriver à comprendre le monde de l’”email design”, alors vous devez vous pencher de plus près
                sur les nombreux avantages qu’il apporte, présentés ci-après. Jetez-y un œil et demandez-vous si votre
                commerce peut se permettre de faire sans eux.
            </p>
            <h3 class="mb-3 mt-3 text-center font-italic">"Il Vous Permet de Suivre des Indicateurs"</h3>
            <p>
                Tout d’abord, si vous ne suivez pas vos indicateurs, qu’espérez-vous réellement accomplir ? Si vous ne
                savez pas comment votre marché cible répond à vos efforts pour les impliquer, alors vous n’aurez aucun moyen
                d’itérativement peaufiner votre approche.
            </p>
            <p>
                Les courriers électroniques au format texte brut ne permettent pas de traquer le taux d’ouverture de votre campagne
                d’email, ce qui signifie que vous ne serez pas mieux informés sur votre performance. En revanche, prenez le temps de
                mettre en place des indicateurs dans votre campagne et vous serez bientôt capable de faire les ajustements s’avérant
                être l’atout clé de votre succès.
            </p>
            <br>
            <h5>Voici quelques KPI (Key Performance Indicators) et autres indicateurs que vous devriez traquer :</h5>
            <ul>
                <li>Les taux d’ouverture</li>
                <li>Le nombre de clics</li>
                <li>Le partage et le renvoi d’email</li>
                <li>La croissance de la liste de diffusion</li>
                <li>L’engagement des abonnés</li>
                <li>Les conversions</li>
            </ul>
            <p>
                Gardez à l’esprit que vous devez utiliser des emails à base d’HTML pour la plupart d’entre eux.
                Pour mettre en place vos indicateurs, réfléchissez à la globalité des objectifs de votre campagne. Ensuite,
                choisissez ce que vous voulez traquer en fonction de ces objectifs.
            </p>
            <h3 class="mb-3 mt-3 text-center font-italic">"Vous Pouvez Optimiser l’Assimilation du Taux d’Informations"</h3>
            <p>
                Saviez-vous qu’on est capable d’identifier des images en 13 millisecondes? Notre cerveau a évolué pour répondre
                plus vite à l’imagerie qu’aux textes, et c’est ce qu’un bon design d’email devrait prendre en compte.
                Tout réside dans l’art de comprendre comment les cerveaux de vos clients fonctionnent, et l’imagerie
                est un facteur majeur.
            </p>
            <p>
                Si vous utilisez une « hero image » (l’image qui est au premier plan d'une page web) solide, vous allez immédiatement
                attirer l’œil et garantir que bien plus de gens resteront intéressés : exactement ce que vous recherchez
                si vous voulez que les destinataires lisent l’intégralité de votre email.
            </p>
            <p>
                Les emails HTML peuvent vous aider à créer un design d’email attrayant qui visualisera votre contenu de
                la meilleure manière. Il existe même plusieurs builders de template d’email que vous pouvez utiliser
                gratuitement (comme chamaileon).
            </p>
            <h3 class="mb-3 mt-3 text-center font-italic">"Le Design Responsive Affiche Votre Contenu de la Meilleure des Façons"</h3>
            <p>
                La navigation sur écran mobile est aujourd’hui plus importante que la navigation sur écran bureau, mais les deux restent ordinaires. En conséquent, vous devez être capable de créer des campagnes
                d’email qui s’adaptent au type et à l’écran de l’appareil de l’utilisateur.
                Faites-le bien et vous serez capable de présenter vos produits et services dans la paume de la main de votre potentiel client.
            </p>
            <p>
                Si votre email ne s’affiche pas correctement, il sera vite supprimé. Le design d’email responsive a un impact énorme sur le taux de clics.
                Utiliser un builder de template d’email responsive vous aidera à créer des emails qui rendront parfaitement sur tout appareil.
            </p>
            <div class="text-center mt-4 mb-4"><img src="{{ asset('img/blog/article4img3.jpg') }}" class="img-fluid img-shadow" alt="99free"></div>
            <h4>En conclusion, voici quelques ingrédients à inclure dans votre email :</h4>
            <ul class="mb-5">
                <li>Votre logo</li>
                <li>Des images</li>
                <li>Une palette de couleurs adaptée</li>
                <li>Au moins 1 call-to-action</li>
                <li>Des gifs et autres animations</li>
                <li>Un design qui priorise le mobile</li>
                <li>Des informations de contact</li>
                <li>Un lien pour se désabonner</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

