{% extends 'base.html.twig' %}
{% block body %}
    <div class="coverImgBlog">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1 class="page-title">Notre BLog</h1>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="offset-lg-2 col-lg-8 offset-lg-2"><h2>Référencement Payant ou SEA</h2></div>
            <div class="offset-lg-5 col-lg-8">par Alain, le 12/05/2019</div>
        </div>
        <div class="row mt-5">
            <h4 class="offset-lg-1 col-lg-10 mb-5">Faites de la publicité pour votre site web</h4>
            <h5 class="offset-lg-1 col-lg-10">Campagne Google ads</h5>
            <p class="offset-lg-1 col-lg-10">Choix des mots clés et display</p>
            <p class="offset-lg-1 col-lg-10">Pour annoncer votre activité sur internet, vous pouvez financer une campagne publicitaire sur le moteur
                de recherche Google et ses sites partenaires et ou sur le réseau social Facebook.</p>
            <p class="offset-lg-1 col-lg-10" >Nous choisirons des mots clés pertinents correspondants aux recherches des internautes et choisirons le prix par
                clic approprié pour que votre annonce soit bien placée. Pour les sites partenaires un display sera créé par le designer
                pour représenter votre marque et attirer un maximum de clients.</p>
            <div class="offset-lg-1 col-10"><img src="{{ asset('img/article5.jpg') }}" class="img-fluid">
            </div>
            <h5 class="offset-lg-1 col-lg-10 mt-3">Campagne Facebook ads</h5>
            <p class="offset-lg-1 col-lg-10">Création d’une audience et d’une annonce</p>
            <p class="offset-lg-1 col-lg-10">Vous pouvez aussi financer une campagne de publicité sur Facebook, Facebook ads, un display créatif sera proposé à l’audience définie en fonction de la cible que vous visez.
                Avec une audience bien définie, vous êtes certains de toucher votre clientèle et de ne pas financer une campagne décoratrice.</p>
        </div>

    </div>







{% endblock %}