{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}

    <div class="coverImgBlog">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1 class="page-title">Notre Blog</h1>
        </div>
    </div>
    <div class="container mt-5 article-blog">

        <h2 class="text-center">Stratégie SEO : Création et optimisation d’articles</h2>
        <h6 class="offset-lg-6 offset-7">par Alain, le 16/05/2019</h6>
    </div>

    <div class="container mb-5 text-article">
        <div class="text-center mt-5"><img src="{{ asset('img/blog/article1.png') }}" class="img-fluid img-shadow" alt="InconographieSEO"></div>
    <div class="row mt-5">
        <div class="offset-lg-1 col-lg-10">
            <p>Nous vous aiderons dans le choix de vos mots clés  lors de la rédaction de vos articles pour améliorer votre référencement Google.
                Créer des articles pour expliquer votre activité à travers la démonstration de votre expertise augmentera votre visibilité
                sur Google et accroitra vos back-links.</p>
            <p>Ces articles augmenteront la confiance de vos futurs clients sur votre savoir-faire.</p>
            <p>Nous pouvons créer un storytelling pour présenter votre activité, votre entreprise avec cinq  éléments clés :</p>
            <p>L’éducation, la documentation, l’utilitarisme, activable, la récompense, l’émotion </p>
            <p>Nous vous proposerons un contenu avec un vocabulaire technique mais compréhensible qui éduque le lecteur,
                le marché, le client. Documenté, cet article intéressera le lecteur, le convaincra et le transformera en prospect.
                Ce contenu montrera l’utilité de ce que vous avancez à travers des exemples issus de vos références pour motiver le client dans son parcours. <br>
                Dans le cadre de votre référencement et de promotion de votre activité, nous rédigerons des articles intégrés dynamiquement dans votre stratégie
                d’acquisition de clientèle. <br>Vous y trouverez des call to action, des liens vers vos références pour que le lecteur puisse trouver une
                récompense. Aidés par de l’émotion à des points clés de l’article, le client sera pris dans votre entonnoir de conversion.</p>
        </div>


    </div>
    </div>

{% endblock %}