{% extends 'base.html.twig' %}

{% block body %}
    <div class="coverImgBlog">
        <div class=" coverText offset-lg-2 col-lg-8">
            <h1 class="page-title">Notre Blog</h1>
        </div>
    </div>
    <div class="container mt-5 article-blog">

        <h2 class="text-center">OpenClassrooms & Microsoft pour l'IA</h2>
        <h6 class="offset-lg-6 offset-7">par Marvin, le 08/05/2019</h6>
    </div>
    <div class="container mb-3 text-article">
        <div class="row mt-5">
            <div class="offset-lg-1 col-lg-10">
                <div class="text-center mb-4"><img src="{{ asset('img/blog/article6.png') }}" class="img-flui img-shadowd" alt="InconographieIA"></div>
                <p>Co-fondée par Mathieu Nebra en 2013, la plateforme OpenClassrooms propose des parcours de formations diplômantes reconnues par l’Etat. </p>
                <p>D’abord 100% en ligne, les apprenants peuvent depuis l’année dernière, accéder à des programmes en alternances ou valider leur fin de parcours par un stage en entreprise.</p>
                <p>Afin de faciliter toujours d’avantage l’insertion professionnelle de ses apprenants, la plateforme a crée plusieurs partenariats avec des grands groupes.<br>
                    Cette année c’est avec Microsoft que la plateforme en ligne s'associe afin de développer une formation dédiée à l’intelligence artificielle. <p>

                <p>En effet, ce domaine présente un réel déséquilibre entre l’offre et la demande et les entreprises sont de plus en plus nombreuses à chercher des experts en la matière. </p>

                <p>Il est estimé que d’ici 2022, 30% des postes ouverts dans ce secteur resteront vacants en raison de la pénurie de talent.</p>

                <p>Les étudiants qui termineront le programme, titulaire d’un diplôme de niveau Master, ne devrait donc pas rencontrer de difficultés à accéder à un emploi.</p>


            </div>
        </div>
    </div>


{% endblock %}