{% extends 'base.html.twig' %}

{% block body %}
<div class="coverImgBlog">
    <div class=" coverText offset-lg-2 col-lg-8">
        <h1 class="page-title">Notre Blog</h1>
    </div>
</div>
<div class="container mt-5 article-blog">
    <h2 class="text-center">Des écouteurs en champignons</h2>
    <h6 class="offset-lg-7 offset-7">par Alec, le 19/054/2019</h6>
</div>
    <div class="container text-article">
        <div class="row mt-2 mb-4">
            <div class="offset-lg-1 col-lg-10">
                <div class="text-center mt-4 mb-4"><img src="{{ asset('img/blog/article8.jpg') }}" class="img-fluid img-shadow" alt="ecouteurs"></div>
                <p>La culture de l’obsolescence programmée dans l’électronique produit une quantité énorme de déchets toxiques qui
                    risquent de finir dans une décharge pour le prochain millénaire. La nature produit certaines des substances les
                    plus puissantes et les plus polyvalentes que nous ayons jamais rencontrées, alors pourquoi ne pas les utiliser à la place?
                    C’est ce que la maison de design finlandaise Aivan a tenté avec ce concept, une paire d’écouteurs en champignons, bioplastiques
                    et autres matériaux naturels
                </p>
                <p>
                    L’idée était de remplacer tout ce qu’ils pouvaient par des matériaux naturels, parmi lesquels il existe une grande variété
                    – mais certains peuvent être un peu difficiles à trouver.
                </p>
                <p>
                    Comme Dezeen le rapporte, tout ce que vous voyez sur le casque Korvaa est d’origine naturelle, bien que cela
                    ne signifie pas qu’il vient tout juste d’être ramassé en forêt.
                </p>
                <p>
                    La structure principale du casque est imprimée en 3D, à l’aide d’un bioplastique créé comme sous-produit de
                    la transformation de la levure en acide lactique.
                    Le polymère d’acide polylactique est solide mais suffisamment souple pour être utilisé comme couronne et coquille.
                </p>
                <p>
                    Les oreillettes rembourrées sont fabriquées à partir d’une protéine appelée hydrophobine, qui, comme la mousse
                    artificielle, est composée de nombreuses bulles minuscules, mais celles-ci sont produites par un champignon et
                    renforcées avec de la cellulose végétale. Elles sont recouvertes de mycélium, un autre matériau dérivé du champignon, coriace et flexible.
                    Et au-dessus de celles-ci serait un maillage créé en filant la soie synthétique d’araignée.
                </p>
                <div class="text-center mt-4 mb-4"><img src="{{ asset('img/blog/article8img2.jpg') }}" class="img-fluid img-shadow" alt="tests_ecouteurs"></div>
                <p>
                    Pour être clair, ces écouteurs ne fonctionnent pas – ils ne sont qu’un prototype ou un produit conceptuel à l’heure actuelle.
                    Mais le but n’était pas de créer un remplacement pleinement fonctionnel pour nos écouteurs existants.
                </p>
                <p>
                    L’idée est plutôt de montrer que ces écouteurs n’ont pas besoin d’être, comme ils le sont maintenant, entièrement en matériaux non biodégradables.
                </p>
                <p>
                    "Ce n’était certainement qu’un simple effleurement sur l’avenir des matériaux issus de la biologie et sur ce que nous pourrions en faire
                    dans un futur proche" a confié à Dezeen, l’un des concepteurs du groupe, Thomas Tallqvist.
                </p>
                <p>
                    Les écouteurs Korvaa - qui tient son nom de « oreille » et « remplacer » en finlandais - seront exposés lors de deux salons de design en Finlande.
                </p>
            </div>
        </div>
    </div>
{% endblock %}