{% extends 'base.html.twig' %}

{% block body %}
    <body class="text-center">

        <div class="container">

            {#Devis en ligne#}
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Contenus graphiques
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Nothing now
                        </div>
                    </div>
                </div>
                <div class="card" id="dev_choices">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Développement
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="btn btn-secondary">
                                                WordPress <input type="radio" name="dev_choice" OnClick="checkDevButton();" id="wordpress" autocomplete="off">
                                            </label>

                                            <p class="card-text"><p>options :</p><br>

                                            <label>
                                                Logo <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option1_dev_wordpress" value="300" name="Logo" disabled>
                                            </label><br>
                                            <label>
                                                Charte Graphique <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_dev_wordpress" value="400" name="Charte Graphique" disabled>
                                            </label><br>
                                            <label>
                                                Hébergement <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_dev_wordpress" value="150" name="Hébergement" disabled>
                                            </label><br>
                                            <label>
                                                Maintenance <input type="checkbox" class="op" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_dev_wordpress" value="200" name="Maintenance" disabled>
                                            </label><br>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="btn btn-secondary">
                                                Symfony <input type="radio" name="dev_choice" OnClick="checkDevButton();" id="symfony" autocomplete="off">
                                            </label>

                                            <p class="card-text"><p>options :</p><br>

                                            <label>
                                                Logo <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option1_dev_symfony" name="Logo" value="Logo" disabled>
                                            </label><br>
                                            <label>
                                                Charte Graphique <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option2_dev_symfony" value="Charte Graphique" disabled>
                                            </label><br>
                                            <label>
                                                Hébergement <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option3_dev_symfony" value="Hébergement" disabled>
                                            </label><br>
                                            <label>
                                                Maintenance <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option4_dev_symfony" value="Maintenance" disabled>
                                            </label><br>
                                            <label>
                                                SEO <input type="checkbox" checked data-toggle="toggle" data-onstyle="info" data-on="Oui" data-off="Non" id="option5_dev_symfony" value="SEO" disabled>
                                            </label><br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Marketing & Ateliers
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Blablalbalblablal
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success" onclick="reset();" id="reset">
                Reset du formulaire
            </button>

            {#Estimation#}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quoteModal" id="estimate" onclick="estimate();">
                Estimer
            </button>
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Récapitulatif du devis</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="recap_radio"></p>
                            <p id="recap_options">CHARGEMENT EN COUR...<br>
                                <img src="{{ asset('loading.gif') }}" width="90" height="90" class="d-inline-block align-top" alt="loading"></p>
                        </div>
                        <div class="modal-footer" id="price">

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

    <script>
        for(let i of document.querySelectorAll('[type=checkbox]')) { i.checked = false; }

        function checkDevButton() {
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            let checkLogoWordpress = document.getElementById("option1_dev_wordpress");
            let checkLogoSymfony = document.getElementById("option1_dev_symfony");
            let checkCharteWordpress = document.getElementById("option2_dev_wordpress");
            let checkCharteSymfony = document.getElementById("option2_dev_symfony");
            let checkHebergWordpress = document.getElementById("option3_dev_wordpress");
            let checkHebergSymfony = document.getElementById("option3_dev_symfony");
            let checkMaintenanceWordpress = document.getElementById("option4_dev_wordpress");
            let checkMaintenanceSymfony = document.getElementById("option4_dev_symfony");
            //let checkHebergWordpress = document.getElementById("option3_dev_wordpress");
            let checkSeoSymfony = document.getElementById("option5_dev_symfony");

            if (radioWordpress.checked) {
                checkLogoWordpress.disabled = false;
                checkCharteWordpress.disabled = false;
                checkHebergWordpress.disabled = false;
                checkMaintenanceWordpress.disabled = false;

                radioSymfony.disabled = true;
                checkLogoSymfony.disabled = true;
                checkCharteSymfony.disabled = true;
                checkHebergSymfony.disabled = true;
                checkMaintenanceSymfony.disabled = true;
                checkSeoSymfony.disabled = true;
            } if (radioSymfony.checked) {
                checkLogoWordpress.disabled = true;
                checkCharteWordpress.disabled = true;
                checkHebergWordpress.disabled = true;
                checkMaintenanceWordpress.disabled = true;

                radioSymfony.disabled = false;
                checkLogoSymfony.disabled = false;
                checkCharteSymfony.disabled = false;
                checkHebergSymfony.disabled = false;
                checkMaintenanceSymfony.disabled = false;
                checkSeoSymfony.disabled = false;
            }
        }

        function reset() {
            let resetAll = document.getElementById("reset");
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            resetAll.onclick = function () {
                radioWordpress.checked = false;
                radioWordpress.disabled = false;
                radioSymfony.checked = false;
                radioSymfony.disabled = false;

                document.location.reload(true);
            }
        }
        
        function estimate() {
            let radioWordpress = document.getElementById("wordpress");
            let radioSymfony = document.getElementById("symfony");

            let recapRadio = document.getElementById("recap_radio");
            let recapOptions = document.getElementById("recap_options");
            let price = document.getElementById("price");

            setTimeout(finishEstimate, 5000);
            
            function finishEstimate() {
                let array = "";
                let total = 0;
                let checked = document.querySelectorAll("input[type='checkbox']:checked");
                let nameOf = document.querySelectorAll(".op");

                if (radioWordpress.checked) {
                    recapRadio.innerHTML = "Site WordPress";

                    for (let i = 0; i < nameOf.length; i++) {
                        if (nameOf[i].checked === true) {
                            array += nameOf[i].name + "<br>";
                        }
                        recapOptions.innerHTML = "Options :" + "<br>" + array;
                    }

                    for (let i = 0; i < checked.length; i++) {
                        if (checked[i].checked === true) {
                            total += parseFloat(checked[i].value);
                    }
                        price.innerHTML = "Estimation : " + total + "€";
                    }

                }

                if (radioSymfony.checked) {
                    recapRadio.innerHTML = "Site Symfony";

                    for (let i = 0; i < checked.length; i++) {
                        if (checked[i].checked === true) {
                            array += checked[i].value + "<br>";
                        }
                        recapOptions.innerHTML = "Options :" + "<br>" + array;
                    }

                    price.innerText = "Estimation : 1800€";
                }
            }
        }
    </script>

{% endblock %}